@model List<TeknoMarket.Models.Product>

@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@*<link href="~/vendor/HomePage.css" rel="stylesheet" />*@
<style>
    /*.product-card:hover {
        transition-delay: 0.2s;
        transform: scale(1.05);
    }*/

    .card-img-top:hover {
        transition-delay: 0.2s;
        transform: scale(1.1);
    }

    .iconic:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
    }

        .iconic:hover i {
            color: red !important;
        }
</style>

@ViewBag.test


<div class="container">
    <div class="mb-5 mt-5">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <a href="https://www.nvidia.com/tr-tr/">
                    <div class="carousel-item active">
                        <img src="~/Images/nvidiaBanner.jpg" class="d-block w-100 bannerHeight" alt="NVIDIA">
                    </div>
                </a>
                <a href="https://www.razer.com/">
                    <div class="carousel-item">
                        <img src="~/Images/HomePage images/RazerBanner.png" class="d-block w-100 bannerHeight" alt="Iphone14" />
                    </div>
                </a>
                <a href="https://www.msi.com/">
                    <div class="carousel-item">
                        <img src="~/Images/HomePage images/msiBanner.jpg" class="d-block w-100 bannerHeight" alt="Samsung S22">
                    </div>
                </a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <header>
        <h3 class="bg-secondary text-light" style="padding-top: 1rem; padding-bottom: 1rem; padding-left: 2vw; font-weight: bold; border-radius: 50px">
            Yeni Ürünler
            @*<a href="#" class="" style="font-size:16px;padding-left:1rem;font-weight:normal">Tümünü Gör</a>*@
        </h3>
    </header>

    <div class="row">
        @{
            int count = 0;
            Random rnd = new Random();


        }
        @foreach (var x in Model)
        {
            if(rnd.Next(100) < 5 && count < 4)
                {

                <div class="col-lg-3 mb-5 mt-5">
                    <div class="product-card bg-dark" style="border-radius:5%">
                        <div class="d-flex justify-content-between p-3">
                            <p class="lead mb-0 text-light" style="font-size:12px">@x.name</p>
                        </div>
                        <div style="overflow:hidden;">
                            <a href="/Product/Index?product=@x.Id">
                                <img src="@x.imageUrl"
                                     class="card-img-top inside-image" alt="@x.category_name" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="padding-top:1rem">
                                <p class="text-light" style="padding-left:1rem"><a href="/Category/Index?category=@x.category_insider" > @x.category_name</a></p>
                                <p class="h6 lead text-danger" style="padding-right:1rem"><s>@((x.price+x.price* 18/100)) ₺</s></p>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0 text-light fw-normal" style="padding-left:1rem"></h5>
                                <h5 class="text-light h3" style="padding-right:1rem">@x.price.ToString("#,##0")₺</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <form class="w-100 d-flex justify-content ps-3 px-3" method="post">
                                    <button type="button" id="@x.Id" class="btn btn-secondary w-50 mb-3 me-auto sepete-ekle-button">Sepete Ekle</button>
                                    <button type="button" id="@x.Id" class="mb-3 w-25  iconic" style="border-radius:50px;"><i class="bi bi-heart" style="font-size:150%"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                count++;

            }


        }
    </div>

    <div class="mb-5 mt-5">
        <div id="carouselExamplee" class="carousel slide">
            <div class="carousel-inner">
                <a href="https://www.corsair.com/tr-tr/">
                    <div class="carousel-item active">
                        <img src="~/Images/HomePage images/corsairBanner.png" class="d-block w-100 bannerHeight" alt="Corsair">
                    </div>
                </a>
                <a href="https://www.logitech.com/">
                    <div class="carousel-item">
                        <img src="~/Images/HomePage images/logitechBannerr.jpg" class="d-block w-100 bannerHeight" alt="logitech" />
                    </div>
                </a>
                <a href="https://www.asus.com/">
                    <div class="carousel-item">
                        <img src="~/Images/HomePage images/asusBanner.jpg" class="d-block w-100 bannerHeight" alt="Asus">
                    </div>
                </a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamplee" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExamplee" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="w-100 mb-5 mt-5">
        <a href="#">
            <img src="~/Images/HomePage images/feecms_1188_x_x.png" class="w-100" />
        </a>
    </div>

    <header>
        <h3 class="bg-secondary text-light" style="padding-top: 1rem; padding-bottom: 1rem; padding-left: 2vw; font-weight: bold; border-radius: 50px ">
            Ekran Kartları
            <a href="/Category/Index?category=ekran-karti" class="text-danger" style="font-size:16px;padding-left:1rem;font-weight:normal">Tümünü Gör</a>
        </h3>
    </header>



    <div class="row">
        @{
            count = 0;


        }
        @foreach (var x in Model)
        {
            if (x.category_name == "Ekran Kartı" && count < 4)
            {

                <div class="col-lg-3 mb-5 mt-5">
                    <div class="product-card bg-dark" style="border-radius:5%">
                        <div class="d-flex justify-content-between p-3">
                            <p class="lead mb-0 text-light" style="font-size:12px">@x.name</p>
                        </div>
                        <div style="overflow:hidden;">
                            <a href="/Product/Index?product=@x.Id">
                                <img src="@x.imageUrl"
                                     class="card-img-top inside-image" alt="@x.category_name" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="padding-top:1rem">
                                <p class="text-light" style="padding-left:1rem"><a href="/Category/Index?category=@x.category_insider"> @x.category_name</a></p>
                                <p class="h6 lead text-danger" style="padding-right:1rem"><s>@((x.price+x.price* 18/100)) ₺</s></p>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0 text-light fw-normal" style="padding-left:1rem"></h5>
                                <h5 class="text-light h3" style="padding-right:1rem">@x.price.ToString("#,##0")₺</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <form class="w-100 d-flex justify-content ps-3 px-3" method="post">
                                    <button type="button" id="@x.Id" class="btn btn-secondary w-50 mb-3 me-auto sepete-ekle-button">Sepete Ekle</button>
                                    <button type="button" id="@x.Id" class="mb-3 w-25  iconic" style="border-radius:50px;"><i class="bi bi-heart" style="font-size:150%"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                count++;

            }


        }
    </div>

    <header>
        <h3 class="bg-secondary text-light" style="padding-top:1rem;padding-bottom:1rem;padding-left:2vw;font-weight:bold;border-radius:50px">
            İşlemciler
            <a href="/Category/Index?category=işlemci" class="text-danger" style="font-size:16px;padding-left:1rem;font-weight:normal">Tümünü Gör</a>
        </h3>
    </header>

    <div class="row">
        @{
            count = 0;


        }
        @foreach (var x in Model)
        {
            if (x.category_name == "İşlemci" && count < 4)
            {

                <div class="col-lg-3 mb-5 mt-5">
                    <div class="product-card bg-dark" style="border-radius:5%">
                        <div class="d-flex justify-content-between p-3">
                            <p class="lead mb-0 text-light" style="font-size:12px">@x.name</p>
                        </div>
                        <div style="overflow:hidden;">
                            <a href="/Product/Index?product=@x.Id">
                                <img src="@x.imageUrl"
                                     class="card-img-top inside-image" alt="@x.category_name" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="padding-top:1rem">
                                <p class="text-light" style="padding-left:1rem"><a href="/Category/Index?category=@x.category_insider"> @x.category_name</a></p>
                                <p class="h6 lead text-danger" style="padding-right:1rem"><s>@((x.price+x.price* 18/100)) ₺</s></p>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0 text-light fw-normal" style="padding-left:1rem"></h5>
                                <h5 class="text-light h3" style="padding-right:1rem">@x.price.ToString("#,##0")₺</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <form class="w-100 d-flex justify-content ps-3 px-3" method="post">
                                    <button id="@x.Id" type="button" class="btn btn-secondary w-50 mb-3 me-auto sepete-ekle-button">Sepete Ekle</button>
                                    <button id="@x.Id" type="button" class="mb-3 w-25  iconic" style="border-radius:50px;"><i class="bi bi-heart" style="font-size:150%"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                count++;

            }


        }
    </div>



    <div class="card w-100 mb-5">
        <div class="brand-photos mx-auto">
            <a href="#" class="me-5" style="text-decoration:none;">
                <img src="~/Images/HomePage images/nvidiaHome.png"
                     style="width:150px" />
            </a>
            <a href="#" class="me-5" style="text-decoration:none;">
                <img src="~/Images/HomePage images/razerHome.png"
                     style="width:120px;" />
            </a>
            <a href="#" class="me-5" style="text-decoration:none;">
                <img src="~/Images/HomePage images/asusHome.png"
                     style="width:150px;" />
            </a>
            <a href="#" class="me-5" style="text-decoration:none;">
                <img src="~/Images/HomePage images/corsairHome.png"
                     style="width:150px;" />
            </a>
            <a href="#" class="me-5" style="text-decoration:none;">
                <img src="~/Images/HomePage images/lenovoHome.png"
                     style="width:150px;" />
            </a>
            <a href="#" class="me-5">
                <img src="~/Images/HomePage images/sandiskHome.png"
                     style="width:150px;" />
            </a>
        </div>
    </div>


</div>

<script>
    $('.iconic').click(function () {


        if ($(this).children().hasClass('bi-heart')) {
            $(this).children().removeClass('bi-heart');
            $(this).children().toggleClass('bi-heart-fill');
        }

        else if ($(this).children().hasClass('bi-heart-fill')) {
            $(this).children().removeClass('bi-heart-fill');
            $(this).children().toggleClass('bi-heart');
        }




    });

    $('.iconic').click(function () {

        var x = this.id;

        // Make an Ajax call to the controller action
        $.ajax({
            url: '/Home/AddFavorite',
            type: 'POST',
            data: {

                value: x

            },
            success: function (result) {
                alert("ürün favorilere eklendi");
            }
        });
    });



    $('.sepete-ekle-button').click(function () {

        var x = this.id;

  // Make an Ajax call to the controller action
  $.ajax({
      url: '/Home/AddBasket',
      type: 'POST',
      data: {

          value: x

    },
    success: function(result) {
        alert("ürün sepete eklendi");
    }
  });
});


</script>

